.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    width: 100%;
}
  
.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    border: 0;
}

.carousel-indicators button {
    background-color: #696969;
    border-radius: 40%;
    width: 20px !important;
    height: 20px !important;
}

.carousel-indicators button.active {
    background-color: #ffffff;
}

.game-display-background {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
}

.game-display-foreground {
    overflow: auto;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

img {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
}

@media only screen and (min-width: 800px) {
    .game-display-foreground {
        width: 800px;
    }
}